In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [8]:
data = pd.read_csv('tickers_train.csv')

In [9]:
data.head()

   Unnamed: 0              datetime name  priceBtc  priceUsd ticker     volume
0           0  2018-03-01T00:00:00Z   0x  0.000087  0.902278    ZRX  8127100.0
1           1  2018-03-01T02:00:00Z   0x  0.000086  0.895107    ZRX  7962720.0
2           2  2018-03-01T04:00:00Z   0x  0.000088  0.917095    ZRX  7980440.0
3           3  2018-03-01T06:00:00Z   0x  0.000087  0.910295    ZRX  7554380.0
4           4  2018-03-01T08:00:00Z   0x  0.000087  0.927460    ZRX  7468790.0

In [10]:
ALL_TOKENS = list(set(data['ticker']))

In [11]:
TOKEN = 'ZRX'
print("TOKEN:",TOKEN)
token_inds = np.where(data['ticker'] == TOKEN)[0]
date1 = datetime.strptime(data['datetime'].ix[token_inds][0], '%Y-%m-%dT%H:%M:%SZ')
print("Start:",date1)
for i in data['datetime'].ix[token_inds][1:]:
    date2 = datetime.strptime(i, '%Y-%m-%dT%H:%M:%SZ')
    if (date2-date1).seconds != 7200:
        print("Mismatch")
    date1 = date2
print("End:",date2)

TOKEN: ZRX
Start: 2018-03-01 00:00:00
End: 2018-04-30 22:00:00

C:\Users\123\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix

In [12]:
btc_prices = data.ix[token_inds][['datetime','priceBtc']]
btc_prices = btc_prices.rename(columns={"priceBtc": TOKEN})

usd_prices = data.ix[token_inds][['datetime','priceUsd']]
usd_prices = usd_prices.rename(columns={"priceUsd": TOKEN})

volumes = data.ix[token_inds][['datetime','volume']]
volumes = volumes.rename(columns={"volume": TOKEN})

names = pd.DataFrame(data=[[TOKEN,data.ix[token_inds]['name'][0]]],index=[0],columns=['ticker','name'])

C:\Users\123\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix
  if __name__ == '__main__':

In [13]:
del ALL_TOKENS[ALL_TOKENS.index(TOKEN)]

In [17]:
for TOKEN in ALL_TOKENS[:20]:
    print("TOKEN:",TOKEN)
    token_inds = np.where(data['ticker'] == TOKEN)[0]
    date1 = datetime.strptime(list(data['datetime'].ix[token_inds])[0], '%Y-%m-%dT%H:%M:%SZ')
    print("Start:",date1)
    for i in data['datetime'].ix[token_inds][1:]:
        date2 = datetime.strptime(i, '%Y-%m-%dT%H:%M:%SZ')
        if (date2-date1).seconds != 7200:
            print("Mismatch")
        date1 = date2
    print("End:",date2)
    
    btc_prices[TOKEN] = np.array(data.ix[token_inds]['priceBtc'])

    usd_prices[TOKEN] = np.array(data.ix[token_inds]['priceUsd'])

    volumes[TOKEN] = np.array(data.ix[token_inds]['volume'])

    names = pd.concat([names,pd.DataFrame(data=[[TOKEN,list(data.ix[token_inds]['name'])[0]]],index=[0],columns=['ticker','name'])],ignore_index=True)

TOKEN: BCO
Start: 2018-03-01 00:00:00
End: 2018-04-30 22:00:00
TOKEN: DNA
Start: 2018-03-01 00:00:00
End: 2018-04-30 22:00:00
TOKEN: ETC
Start: 2018-03-01 00:00:00
End: 2018-04-30 22:00:00
TOKEN: PPP
Start: 2018-03-01 00:00:00
End: 2018-04-30 22:00:00
TOKEN: SALT
Start: 2018-03-01 00:00:00
End: 2018-04-30 22:00:00
TOKEN: ZIL
Start: 2018-03-01 00:00:00
End: 2018-04-30 22:00:00
TOKEN: ADST
Start: 2018-03-01 00:00:00
End: 2018-04-30 22:00:00
TOKEN: NLG
Start: 2018-03-01 00:00:00
End: 2018-04-30 22:00:00
TOKEN: AST
Start: 2018-03-01 00:00:00
End: 2018-04-30 22:00:00
TOKEN: BCD
Start: 2018-03-01 00:00:00
End: 2018-04-30 22:00:00
TOKEN: TRX
Start: 2018-03-01 00:00:00
End: 2018-04-30 22:00:00
TOKEN: GAT
Start: 2018-03-01 00:00:00
End: 2018-04-30 22:00:00
TOKEN: ACAT
Start: 2018-03-01 00:00:00
End: 2018-04-30 22:00:00
TOKEN: NEO
Start: 2018-03-01 00:00:00
End: 2018-04-30 22:00:00
TOKEN: CVH
Start: 2018-04-20 18:00:00
End: 2018-04-30 22:00:00

ValueError: Length of values does not match length of index

In [21]:
names

   ticker              name
0     ZRX                0x
1     BCO        BridgeCoin
2     DNA         EncrypGen
3     ETC  Ethereum Classic
4     PPP            PayPie
5    SALT              SALT
6     ZIL           Zilliqa
7    ADST          AdShares
8     NLG            Gulden
9     AST           AirSwap
10    BCD   Bitcoin Diamond
11    TRX              TRON
12    GAT           Gatcoin
13   ACAT          Alphacat
14    NEO               NEO